#############
## Windows detritus
#############
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Mac crap
.DS_Store
### LaTeX
*concordance.tex
*.synctex.gz
*.log
*.aux
*.dvi
*.ps
*.bbl
*.blg
*.nav
*.snm
*.out
*.bbl
*.toc
*.nav
## R files
*.Rhistory
.Rproj.user
*.Rdata
.Rout

paper2022/*.pdf
report/*/*.pdf
isec2018/*.pdf
isec2018/*.rds
report/*.tex
data/*
*.html
*.csv
*.bbl
*.log



