#############
## Windows detritus
#############
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Mac crap
.DS_Store
### LaTeX
*concordance.tex
*.synctex.gz
*.log
*.aux
*.dvi
*.ps
*.bbl
*.blg
*.nav
*.snm
*.out
*.bbl
*.toc
*.nav
## R files
*.Rhistory
.Rproj.user
*.Rdata
*.Rout

# sub-folders
paper2022/*.pdf

report/cache/*
report/*/*.pdf
report/*.pdf
report/*.tex
report/*.zip

isec2018/*.pdf
isec2018/*.rds

sue2019/*.pdf
sue2019/*.rds

data/*

# don't know what this is: 
tools/* 

# compiled files 
*.html
*.bbl
*.log



